dialog{
    height: 50vh; 
    align-items: center; 
    border: none;
    position: relative;
    background-image: url("https://cdn.pixabay.com/photo/2018/07/15/23/24/prague-3540890__340.jpg");
    background-size: cover;
    width: 45%;
    margin: 5%;
    margin-left: 25%;
    border-radius: 5px;
    box-shadow: 0px 20px 40px gray;
    color: white;     
}

button{
    margin: 1%;
    padding: 2%;
    font-size: large;
   
}

input{
    border-radius: 5px;
    margin: 2%;
    margin-bottom: 2%;
    padding: 2%;
    background: none;
    font-weight: bold;
    font-size: medium;
    color: black;
}

input::content{
    font-size: medium;
    color: white;    
}

input::placeholder{
    font-size: medium;
    color: white
}