*{
text-decoration: none;
text-align: left;
}
section{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 25%);
    gap: 15px;    
}
article{
    width: 100%;
    box-shadow: 4px 4px 4px rgb(206, 198, 198);
}

img{
    width: 80%;
    height: 50vh;
}
h1{
    margin-left: 1%;
}

.Description{
    text-align: left;
    width: 80%;
    height:10vh;
    overflow: hidden;
}
button{

    border:none;
    padding: 1.5%;
    margin: 1%;
}
input{
    margin: 1%;
    padding: 0.5%;
}