*{
text-decoration: none;
}
section{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 25%);
    gap: 15px;    
}
article{
    background-color: black;
    width: 100%;
    box-shadow: 4px 4px 4px rgb(206, 198, 198);
}

img{
    width: 80%;
    height: 50vh;
}
.Description{
    /* display: block; */
    text-align: center;
   margin-left: 10%;
    width: 80%;
    height:10vh;
  overflow: hidden;
}
button{

    border:none;
    padding: 1.5%;
    margin: 1%;
}
input{
    margin: 1%;
    padding: 0.5%;
}