section{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 25%);
    gap: 15px;    
    margin-top: 5%;
}
article{
    width: 100%;
    box-shadow: 4px 4px 4px gray;
}
img{
    width: 100%;
    height: 50vh;
}
h1{
    margin-left: 1%;
}
.description{
    text-align: left;
    height:10vh;
    overflow: hidden;
}
button{
    border:none;
    padding: 1.5%;
    margin: 1%;
}
.searchInput{
      margin: 1%;
    padding: 0.5%;
    width: 76%;
    margin-left: 4%;
}
.searchInput::placeholder{
    color: black;
}
h1{
    display: inline;
}