section{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 30%);
    gap: 10px;
}
article{
    width: 100%;
    height: 70%;
}
img{
    width: 80%;
}
.Description{
    display: block;
   margin-left: 10%;
    width: 80%;
    height:20vh;
  overflow: hidden;
}
button{
    border-radius: 50%;
    border:none;
    padding: 1.5%;
    margin: 1%;
}
