body{
background-image: url("https://cdn.pixabay.com/photo/2020/07/23/17/54/mountain-5431950__340.png");
background-size: cover;
}
.HomePage{
    display: flex;
    /* display: flex; */
    /* align-items: center; */
    justify-content: center;
    /* align-items:center; */

}
